$color-black: #222831;
$color-light-black: #393e46;
$color-green:#00adb5;
$color-grey: rgba(238, 238, 238, .6);
$color-white: #eeeeee;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px repeat(5, 1fr);
  width: 450px;
  height: 600px;
  user-select: none;
  background-color: $color-light-black;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
  font-family: 'Orbitron', sans-serif;
}

.progress-show {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5px 10px;
  font-size: 20px;
  color: $color-white;
}

.result-show {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: $color-grey;
  color: $color-light-black;
  margin: 8px 10px;
  padding: 7px;
  font-size: 30.5px;
  overflow: hidden;
  font-weight: normal;
}

.num,
.func {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  cursor: pointer;
  color: $color-white;

  &:hover {
    background-color: rgba(204, 204, 204, .1);
    color: $color-green;
  }


}

.func {
  font-size: 40px;
}

#clear {
  color: rgba(255, 0, 0, .8);

  &:hover {
    background-color: rgba(255, 0, 0, .2);
  }
}